
link(rel='stylesheet', href='/stylesheets/adminStyle.css')



h2 Xavier Kalos Child Development Elementary

h2 Admin Panel
h3 Students

if (students && students.length > 0)
  for student in students
    p Username: #{student.username}
    p Password: #{student.password}
    hr
else
  h4 No students have registered yet!

