extends layout

block content

  h1 Welcome Student
  h2 You may log in here

  form(method="POST", action="login")
    label Name
    input(name="username",type="text")
    br
    label Password
    input(name="password",type="password")
    br
    button(name="submit", type="submit",value="submit")
        | Submit

