@font-face {
  font-family: 'xkcd';
  src: url('/assets/xkcd.otf') format('opentype');
}

body {
	padding: 50px;
	font-size: 16pt;
    font-family: "xkcd", sans-serif;
	background-color: white;
}

a {
	color: #00B7FF;
}

a:hover {
	color: magenta;
}

.small-img {
    width: 150px;
}

.comic.nav {
	width: 250px;
    border: 2px solid black;
}

.done {
	margin: 50px;
}

.welcome {
	padding:50px;
	margin: 0 auto;
	text-align: center;
	color: black;
	margin-top: 40px;
	width: 400px;
	height: 500px;
	border: 2px solid black;
}

.logout {
	margin-bottom:40px;
}
h1 {
	font-size: 28pt;
}

h3 {
	color: #000000;
	text-transform: uppercase;

}

button {
	font-family: "xkcd", sans-serif;
	font-size: 12pt;
	background-color: white;
    color: black;
    border-radius: 2px;
    border: 2px solid black;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

.lock {
	float: left;
}

.user-column {
	float: left;
	text-align: center;
	width: 48%;
    border: 2px solid black;
}

.puzzle-number {
	float: left;
	color: black;
	padding: 5px 5px;
}

.puzzle-number:hover {
	color: magenta;
}

.correct {
	float: right;
	padding: 5px 5px;
	color: #07D900;
}

.correct-guess {
	float: right;
	padding: 5px 5px;
}

.content-column {
	float: right;
	text-align: center;
	width: 48%;
	min-height: 500px;
	border: 2px solid black;
	padding: 20px 0px;
}

.puzzlepart {
	padding: 10px 5px;
	margin: 20px 20px;
	border: 2px solid black;
	min-height: 80px;
}

.tiny-img {
    width: 100px;
}

input {
	font-family: "xkcd", sans-serif;
	font-size: 12pt;
	border-radius: 5px;
	float: right;
}

#submit-answer, #update-email {
	float: right;
}

#feedback {
	font-size: 10pt;
	color: red;
}
