doctype 1.1
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title #{currentUser}@haxkcd
    script(type='text/javascript').
      window.currentUser = "#{currentUser}";
    link(rel='icon', href='/static/favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='/static/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/stylesheets/cli.css', media='screen', title='Default')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='/javascript/jquery.hotkeys-0.7.9.js')
    script(type='text/javascript', src='/javascript/jquery.browser.js')
    script(type='text/javascript', src='/javascript/jquery.konami.js')
    script(type='text/javascript', src='/javascript/cli.js')
    script(type='text/javascript', src='/javascript/haxkcd.js')
  body
    #pagealert(title='Press any key for next page of text')  --More-- 
    #indicators
      span#alt-indicator Alt-
      span#ctrl-indicator Ctrl-
      span#scroll-indicator SCR LOCK
    #screen
      #display
        #welcome
          h1 haxkcd
          h2 A puzzle of romance, sarcasm, math, and language.
        noscript
          p Sorry, the CLI requires JavaScript to work. Please turn on JavaScript.
      #bottomline
        span#inputline
          span#prompt
          span#lcommand
          span#cursor  
          span#rcommand
        span#spinner
    #credit
      | Inspired by 
      a(href='http://uni.xkcd.com/') xkcd
      | . XKCD CLI by 
      a(href='http://chromakode.com') Chromakode
      | . Original CLI2 by 
      a(href='http://thrind.xamai.ca') Rod McFarland
      | ..
