<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//xkcd.com/s/b0dcca.css" title="Default"/>
<title>haxkcd: Sports</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link rel="shortcut icon" href="//xkcd.com/s/919f27.ico" type="image/x-icon"/>
<link rel="icon" href="//xkcd.com/s/919f27.ico" type="image/x-icon"/>

</head>
<body>
<div id="topContainer">
<div id="topLeft">
<ul>
<li><a href="https://xkcd.com/">Real xkcd</a></li>
<li><a href="https://haxkcd.slack.com">Slack</a></li>
<li><a href="https://uni.haxkcd.com">Home</a></li>
<li><a href="https://hackmit.org">HackMIT</a></li>
<li><a href="//c.xkcd.com/random/comic/">Random</a></li>
</ul>
</div>
<div id="topRight">
<div id="masthead">
<span><a href="https://xkcd.com"><img src="//imgs.xkcd.com/static/terrible_small_logo.png" alt="xkcd.com logo" height="83" width="185"/></a></span>
<span id="slogan">A webcomic of romance,<br/> sarcasm, math, and language.</span>
</div>
<div id="news">
xkcd updates every Monday, Wednesday, and Friday.

</div>
</div>
<div id="bgLeft" class="bg box"></div>
<div id="bgRight" class="bg box"></div>
</div>
<div id="middleContainer" class="box">

<div id="ctitle">Sports</div>
<ul class="comicNav">
<li><a href="">|&lt;</a></li>
<li><a rel="prev" href="" accesskey="p">&lt; Prev</a></li>
<li><a href="">Random</a></li>
<li><a rel="next" href="" accesskey="n">Next &gt;</a></li>
<li><a href="">&gt;|</a></li>
</ul>
<div id="comic">
<img src="//imgs.xkcd.com/comics/sports.png" title="Would you like to play a game?" />
<!-- Protip: The real puzzle is at /<your username> -->
</div>
<ul class="comicNav">
<li><a href="">|&lt;</a></li>
<li><a rel="prev" href="" accesskey="p">&lt; Prev</a></li>
<li><a href="">Random</a></li>
<li><a rel="next" href="" accesskey="n">Next &gt;</a></li>
<li><a href="">&gt;|</a></li>
</ul>
</div>
<div class="box">
Thank you <a href="https://xkcd.com/904/">xkcd.com</a>.
</div>
</body>
<!-- Layout by Ian Clasbey, davean, and chromakode -->
</html>

