/* general styles */
html, body {
  font-family: 'xkcd', Sans-Serif;
  color: #fff;
  font-size: 12px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  background: #0b3b4b;
}
a{
  text-decoration:none;
  color: #fff;
}
a.help-link:hover{
  text-shadow: 2px 2px #f04681;
}

html body .header {
  color:#fffefa;
  font-size: 16px;
  margin-left: 2vw;
  margin-bottom: 5vh;
} html body .header li {
  display: inline;
  margin-right: 20px;
}

@font-face {
  font-family: 'xkcd';
  src: url('../xkcd.otf') format('opentype');
}
html body .header h3 {
  line-height: 10px;
  font-size: 40px;
}
h5{
  margin-left: 50px;
  font-size: 15px;
  padding-bottom:20px;
}
h4{
  margin-left: 50px;
  font-size: 20px;
}

#title{
  display: inline-block;
  margin-right: 20px;
}
#grid {
  border: 20px solid #ffe86b;
  background-color:#c9d41b;
  padding:2vw;
  border-radius: 10px;
  margin-left: 3vw;
  margin-bottom: 2vw;
  margin-right:3vw;
  float: left;
  width: 57vmin;
  height: 57vmin;
  position: relative;
} .fullClass {
  background-image: url("../images/velociraptorG.png");
  background-size:100%;
  background-color: #fff;
} .emptyClass {
  background-image: url("../images/blankG.png");
  background-size:100%;
  background-color: #ffbc29;
} .agentClass {
  background-image: url("../images/dudeG.png");
  background-size:100%;
  background-color:#4ecdc4;
} .start-state {
  box-shadow: 0px 0px 0px 3px #ffe86b;
  z-index: 10000;
} .end-state {
  box-shadow: 0px 0px 0px 3px #0b3b4b;
  z-index: 10000;
} .fullClass.agentClass {
  background-image: url('../images/nom.gif');
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.row {
  clear: left;
  position: relative;
} .elt {
  float: left;
  position: relative;
  /*border: 2px solid black;*/
  text-align: center;
  overflow: hidden;
}

#controls {
  border: 20px solid #ffe86b;
  background-color:#c9d41b;
  padding:2vw;
  padding-bottom: 6vw;
  padding-right:3vw;
  border-radius: 10px;
  width: 57vmin;
  height: 50vmin;
  position: relative;
  float: left;
}
#controls button {
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'xkcd', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

#run-btn {
  box-shadow: 0 9px #a9b308;
  background-color: #c9d41b;
} #run-btn:active {
  background-color: #c9d41b;
  box-shadow: 0 5px #a9b308;
  transform: translateY(4px);
} #run-btn:hover {
  background-color: #dae52f;
  box-shadow: 0 9px #c9d41b;
} #run-btn:hover:active {
  box-shadow: 0 6px #c9d41b;
}

#submit-btn {
  box-shadow: 0 9px #32aba2;
  background-color: #4ecdc4;
} #submit-btn:active {
  background-color: #69e7de;
  box-shadow: 0 5px #4ecdc4;
  transform: translateY(4px);
} #submit-btn:hover {
  background-color: #69e7de;
  box-shadow: 0 9px #4ecdc4;
} #submit-btn:hover:active {
  box-shadow: 0 6px #4ecdc4;
}

#watch-btn {
  box-shadow: 0 9px #e4a418;
  background-color: #ffbc29;
} #watch-btn:active {
  background-color: #ffbc29;
  box-shadow: 0 5px #e4a418;
  transform: translateY(4px);
} #watch-btn:hover {
  background-color: #fdc54b;
  box-shadow: 0 9px #ffbc29;
} #watch-btn:hover:active {
  box-shadow: 0 6px #ffbc29;
}

#reset-btn {
  box-shadow: 0 9px #DB1F61;
  background-color: #f04681;
} #reset-btn:active {
  background-color: #f04681;
  box-shadow: 0 5px #db1f61;
  transform: translateY(4px);
} #reset-btn:hover {
  background-color: #f76095;
  box-shadow: 0 9px #f7367a;
} #reset-btn:hover:active {
  box-shadow: 0 6px #f7367a;
}

#complex-btn {
  box-shadow: 0 9px #e4a418;
  background-color: #ffbc29;
} #complex-btn:active {
  background-color: #ffbc29;
  box-shadow: 0 5px #e4a418;
  transform: translateY(4px);
} #complex-btn:hover {
  background-color: #fdc54b;
  box-shadow: 0 9px #ffbc29;
} #complex-btn:hover:active {
  box-shadow: 0 6px #ffbc29;
}

.btn {
  box-shadow: 0 9px #e4a418;
  background-color: #ffbc29;
} .btn:active {
  background-color: #ffbc29;
  box-shadow: 0 5px #e4a418;
  transform: translateY(4px);
} .btn:hover {
  background-color: #fdc54b;
  box-shadow: 0 9px #ffbc29;
} .btn:hover:active {
  box-shadow: 0 6px #ffbc29;
}

.btn.disabled {
  box-shadow: 0 9px #808080;
  background-color: #C0C0C0;
} .btn.disabled:active {
  background-color: #C0C0C0;
  box-shadow: 0 5px #808080;
  transform: translateY(4px);
} .btn.disabled:hover {
  background-color: #D3D3D3;
  box-shadow: 0 9px #C0C0C0;
} .btn.disabled:hover:active {
  box-shadow: 0 6px #C0C0C0;
}

.btn {
  position: relative;
  top: -5px;
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'xkcd', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  color: black;
}

textarea {
  /* height/width awk, add auto expand */
  width: 100%;
  height: 100%;
  border: 2px solid #4ecdc4;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  margin-bottom: 1vh;
  font-family: "Courier New",Courier,monospace;
  padding: 5px;
} textarea:focus {
  -webkit-box-shadow: 0px 0px 10px 3px #4ecdc4;
  -moz-box-shadow: 0px 0px 10px 3px #4ecdc4;
  box-shadow: 0px 0px 10px 3px #4ecdc4;
}

input {
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  margin-bottom: 1vh;
  font-family: 'xkcd', sans-serif;
  text-align: center;
}

@media (max-width: 600px) {
  .content {
    font-size: 20px !important;
  } #grid, #controls {
    width: 90% !important;
    height: 90% !important;
    clear: both;
    margin-left: 2vw !important;
  }
}

#cred {
  width: 100px;
  left: 47%;
  bottom: 30px;
  margin: 4em auto;
  clear: both;
}

#alert {
  color: #ffe86b;
}

#time-cont, #code-length, #code-compute, #code-complexity {
  color: #4ecdc4;
}
